
.menu-inline{
    background-color: blue;
    width: 24%;
    height: 50px;
    display: inline-block;
    text-align: center;
    color:whitesmoke;
    border: 3px solid white;
    padding: 10px 20px 0 20px;
    box-sizing: border-box;
}

.container{
    display: table;
}

.table{
    display: table-cell;
    border: 2px solid black;
}
