@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto:400i|Titillium+Web');
/*font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Titillium Web', sans-serif;*/

body{
    background-image: url("../images/82884trama.jpg");   
    margin: 0 auto;
    max-width: 960px;
}

.container{
    background-color: #c7ecee;
}


#contenedorprin{
    background-color: white;
    padding: 20px;
    text-align: center;
    /*width: 500px; mas pequeno el contener y centrado
    margin: 0 auto; */
}

#imgprin{
     border-radius: 30% 60% 30% 50%;
}

.imgredonda{
   border-radius: 50%;
   margin: 0 auto;
   display: block;
   margin-top: 15px;
}

.tituloprin{
    font-size: 45px;
    font-style: italic; /*cursiva*/
    text-transform: uppercase; /*mayuscula*/
    color: #ff7979;
    font-family: 'Titillium Web', sans-serif;
}

.padre{
    display: table;
}

.hijoarticle{
    display: table-cell;
}

.tituloarticle{
    font-size: 30px;
    color: #ff7979;
    /*font-weight: 400;*/ /*reducir negrita, bold negrita*/
    font-style: italic; /*cursiva*/
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.parrafo{
    text-align: justify; /*justificar el texto*/
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px;
}

#footer{
    background-image: url("../images/82884trama.jpg");
}

#textofooter{
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    color: #2f3640;
    font-weight: bold;
}

